/*  --- Layout --- */

.container{
    max-width: 850px;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-home{
    max-width: 1060px;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 10px;
}




